body{
      background-color: rgb(170, 167, 170);
}
#inputs{
      margin: auto;
      text-align: center;
      border-radius: 8px;
      border-style: none;
      
      
}
#submit{
      margin-right: 30px;
      text-align: center;
      border-radius: 8px;
      border-style: none;
      width: 150px;
}
#msg{
      width: 442px;
      height: 22px;
      margin-right: 30px;
      text-align: center;
      border-radius:9px ;
      
      border-style: none;
}

#ctext{
      overflow-x: hidden;
      overflow-y: auto;
      width: 450px;
      height: 375px;
      text-align: left;
}
#ctext::-webkit-scrollbar {
      display: none;
}
#chatBox{
      margin: auto;
      background-color: rgba(219, 223, 226, 0.788);
      width: 450px;
      height: 400px;
      border: 3px solid rgb(90, 126, 128);
      border-radius: 10px;
      
}
#dataB{
      height: 400px;
}
#submit{
     border-style: double;
     width: 100px;
      
      
}
