body{
      background-color: rgb(170, 167, 170);
}
#inputs, #msg, #author, #submit{
      margin: auto;
      text-align: center;
      border-radius: 8px;
      border-style: none;
      
      
}
#msg, #author, #submit{
      width: 150px;
      
      
}
#chatBox{
      margin: auto;
      background-color: rgba(219, 223, 226, 0.788);
      width: 450px;
      height: 400px;
      border: 3px solid rgb(90, 126, 128);
      border-radius: 10px;
      overflow:auto;
      overflow:scroll;
      overflow-x: hidden;
      overflow-y: auto;
}
#submit{
     border-style: double;
     width: 100px;
      
      
}
